{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel=preload as=image href={% static "images/sensor-de-proximidade.jpg" %}>
    <link rel=preload as=image href={% static "images/sensor-de-movimento-pir.jpg" %}>
    <link rel="stylesheet" href="../static/styles/index_style.css">
    <title>Integrated System - Home</title>
  </head>
  <body style="overflow-x: hidden">
    <header id="block-header">
        <div id="div-logo-header">
          <a href="/menu" id="text-logo-header">Integrated System</a>
        </div>
        <div id="div-link-header">
          <a href="https://espressif.com" class="link-header">Especificação ESP32</a>
          <a href="https://docs.micropython.org" class="link-header">Introdução Micro-Python</a>
        </div>
    </header>
    <div id="block-nav" style="width: 700px; top: 28px; left: 300px; position: fixed; background-color: #156A8A; box-shadow: 9px 6px 12px #0005 ">
      <nav id="nav-item">
        <a href="#section-motion-sensor" class="link-nav">Sensor de Movimento</a>
        <a href="#section-proximity-sensor" class="link-nav">Sensor de Proximidade</a>
        <a href="/motion-sensor" class="link-nav">Tela de Movimento</a>
        <a href="/apprx-sensor" class="link-nav">Tela de Proximidade</a>
      </nav>
    </div>
    <main id="block-main">
      <section id="section-motion-sensor">
        <div id="div-motion-sensor">
          <img id="img-motion-sensor" src="/static/images/sensor-movimento.jpg" style="width: 625px" alt="Sensor de Movimento">
          <p id="text-motion-sensor" style="margin-rigth: 20px; margin-left: 20px">O código implementa um sistema de monitoramento reativo baseado na detecção de movimento, onde um sensor PIR identifica variações de infravermelho no ambiente, acionando um LED e um relé sempre que movimento é detectado. Esse comportamento simula sistemas de segurança ou automação, permitindo a ativação de dispositivos conforme a necessidade. Para evitar oscilações constantes, há um pequeno atraso após a detecção, garantindo estabilidade no funcionamento. Além disso, mensagens são exibidas no console para fornecer um feedback contínuo, tornando o sistema mais transparente e fácil de monitorar.</p>
        </div> 
      </section>
      <section id="section-proximity-sensor">
        <div id="div-proximity-sensor">
          <div id="div-text-proximity-sensor">
            <p id="text-proximity-sensor">
            O código implementa um sistema de medição de distância baseado em um sensor ultrassônico, onde um sinal é enviado e o tempo de resposta é usado para calcular a distância até um objeto. Com base nessa distância, a intensidade de um LED PWM é ajustada, simulando um efeito de proximidade onde a luz se torna mais intensa à medida que o objeto se aproxima. Além disso, um relé é ativado quando a distância é menor que um determinado limite, permitindo a automação de dispositivos conforme a proximidade de um objeto. Esse sistema pode ser aplicado em diversas áreas, como robótica, automação residencial e sistemas de alerta.
            </p>
          </div>
          
          <img id="img-proximity-sensor" src="/static/images/sensor-proximidade.jpg" alt="Sensor de Proximidade">
        </div>
      </section>
    </main>
    <footer id="block-footer">
      <p id="text-footer">Todos os direitos reservados <strong>Integrated System</strong> &copy;</p>
    </footer>
  </body>
</html>
